{% load static %}
<!-- Blog Details Hero Begin -->
<section class="blog-details-hero set-bg" data-setbg="{% static 'organico/img/blog/details/details-hero.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog__details__hero__text">
                    
                    <h2>{{ artigo }}</h2>
                    <ul>
                        <li>POR: autor fake</li>
                        <li>{{ artigo.criado }}</li>
                        <li>comentarios: 8</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Hero End -->