{% load static %}

<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h6><span class="icon_tag_alt"></span> Tem cupom? <a href="#">Clique aqui</a> coloque seu codigo
                </h6>
            </div>
        </div>
        <div class="checkout__form">
            <h4>Detalhes de Faturamento</h4> <!--apagar: Billing Details-->
            <form action="#">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Nome: <span>*</span></p>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Sobrenome: <span>*</span></p>
                                    <input type="text">
                                </div>
                            </div>
                        </div>
                        <div class="checkout__input">
                            <p>País: <span>*</span></p>
                            <input type="text">
                        </div>
                        <div class="checkout__input">
                            <p>Endereço: <span>*</span></p>
                            <input type="text" placeholder="Rua" class="checkout__input__add">
                            <p>Complemento <span>*</span></p>
                            <input type="text" placeholder="complemento (opicional)">
                        </div>
                        <div class="checkout__input">
                            <p>Cidade: <span>*</span></p>
                            <input type="text">
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Estado: <span>*</span></p>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>CEP: <span>*</span></p>
                                    <input type="text">
                                </div>
                            </div>  
                        </div>
                        <div class="checkout__input">
                            <p>Email: <span>*</span></p>
                            <input type="text">
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Celular: <span>*</span></p>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Telefone fixo: <span>*</span></p>
                                    <input type="text">
                                </div>
                            </div>
                        </div>
                        <div class="checkout__input__checkbox">
                            <label for="acc"> <!--fazer um botao para criar um conta ou guaradar as informaçoes
                                e abrir um modal de cadstro e depois fazer o login e trazer a compra ja logado-->
                                Criar conta? 
                                <input type="checkbox" id="acc">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <p>Crie uma conta para inserir seus dados. Se ja for um cliente nosso, por favor faça 
                            o login na parte superior da página</p>
                        <div class="checkout__input">
                            <p>Senha<span>*</span></p>
                            <input type="text">
                        </div>
                        <div class="checkout__input__checkbox">
                            <label for="diff-acc">
                                Endereço de entrega diferente?
                                <input type="checkbox" id="diff-acc">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="checkout__input">
                            <p>Observação do pedido<span>*</span></p>
                            <input type="text"
                                placeholder="observação sobre o pedido, ex: observação para a entrega do pedido">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <h4>Pedido:</h4>
                            <div class="checkout__order__products">Produtos: <span>Total</span></div>
                            <ul>
                                <li>Vegetable’s Package <span>$75.99</span></li>
                                <li>Fresh Vegetable <span>$151.99</span></li>
                                <li>Organic Bananas <span>$53.99</span></li>
                            </ul>
                            <div class="checkout__order__subtotal">Subtotal <span>$750.99</span></div>
                            <div class="checkout__order__total">Total <span>$750.99</span></div>

                            <!--TODO: nao vi sentido nesses 3 checkbox entao no final se continuar sem sentido apagar -->
                            <div class="checkout__input__checkbox">
                                <label for="acc-or">
                                    Criar uma conta?
                                    <input type="checkbox" id="acc-or">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adip elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua.</p>
                            <div class="checkout__input__checkbox">
                                <label for="payment">
                                    Confirmação de pagamento
                                    <input type="checkbox" id="payment">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="checkout__input__checkbox">
                                <label for="paypal">
                                    Paypal
                                    <input type="checkbox" id="paypal">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <button type="submit" class="site-btn">CONFIRMAR PAGAMENTO</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- Checkout Section End -->