{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- Humberger Begin -->
    {% include 'hamburguer_section.html' %}
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    {% include 'header_section.html' %}
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    {% include 'hero_section.html' %}
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    {% include 'breadcrumb_section.html' %}
    <!-- Breadcrumb Section End -->

    <!-- Contact Section Begin -->
    {% include 'contato/contact_section.html' %}
    <!-- Contact Section End -->

    <!-- Map Begin -->
    {% include 'contato/map_section.html' %}
    <!-- Map End -->

    <!-- Contact Form Begin -->
    {% include 'contato/contact_form.html' %}
    <!-- Contact Form End -->

    <!-- Footer Section Begin -->
    {% include 'footer_section.html' %}
    <!-- Footer Section End -->
{% endblock %}