{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Humberger Begin -->
    {% include 'hamburguer_section.html' %}
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    {% include 'header_section.html' %}
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    {% include 'hero_section.html' %}
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    {% include 'breadcrumb_section.html' %}
    <!-- Breadcrumb Section End -->

    <!-- Product Details Section Begin -->
    {% include 'shop_detail/product_details_section.html' %}
    <!-- Product Details Section End -->

    <!-- Related Product Section Begin -->
    {% include 'shop_detail/related_product_section.html' %}
    <!-- Related Product Section End -->

    <!-- Footer Section Begin -->
    {% include 'footer_section.html' %}
    <!-- Footer Section End -->
{% endblock %}