{% extends 'base.html' %}
{% load static %}

{% block js %}

    <script src="{% static 'organico/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'organico/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'organico/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'organico/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'organico/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'organico/js/mixitup.min.js' %}"></script>
    <script src="{% static 'organico/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'organico/js/main.js' %}"></script>

{% endblock %}