{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Humberger Begin -->
    {% include 'shop_grid/humburguer_section.html' %}
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    {% include 'header_section.html' %}
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    {% include 'hero_section.html' %}
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    {% include 'shop_grid/breadcrumb_section.html' %}
    <!-- Breadcrumb Section End -->

    <!-- Product Section Begin -->
    {% include 'shop_grid/product_section.html' %}
    <!-- Product Section End -->

    <!-- Footer Section Begin -->
    {% include 'footer_section.html' %}
    <!-- Footer Section End -->

{% endblock %}
